In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
%matplotlib inline

In [16]:


from pandas import DataFrame


def read_data():
    df = pd.read_csv('data.csv', parse_dates=['FECHA'], infer_datetime_format=True)
    df['CPRECIO'] = df['CPRECIO'].map(lambda x: str(x).strip().replace(",", ""))
    df['CPRECIO'] = DataFrame(df['CPRECIO']).convert_objects(convert_numeric=True)
    df['COSTOPESOS'] = df[' COSTOPESOS ']
    df = df.drop(['CPRECIO', 'COSTOPESOS'], axis=1)
    cols = df.columns.values 
    cols[-3] = "YEAR"
    df.columns = cols
    return df

In [17]:
def calculate_extra_cols(df):
    df['total_price'] =  df['CPRECIO'] * df['#UNIDADES'] * df['CTIPOCAM01']
    return df

In [ ]:
df = read_data()

In [ ]:

df = calculate_extra_cols(df)

#### Articles sold per year

In [ ]:
art_year = df.groupby('YEAR')["#UNIDADES", "total_price"].sum()
art_year['#UNIDADES'].plot(kind='bar')
# plt.xticks(range(5), ('2010', '2012', '2013', '2014', '2015'))

#### Articles sold per month across all years

In [ ]:
art_month = df.groupby('MES')["#UNIDADES"].mean()
art_month.sort_index().plot(kind='bar')

#### Articles sold per month per year

In [ ]:
month_year = df.groupby(["YEAR", "MES"])['#UNIDADES'].sum()
month_year.plot()
# per = new.index.to_period("M")
# plt.bar(per.value_counts())

#### Jumping into time series

In [ ]:
ts = df.set_index("FECHA")[["#UNIDADES", "total_price"]]
ts = ts[~ts["total_price"].isnull()]
ts["total_price"] /= 100.0
ts = ts.sort_index()
axes = ts["#UNIDADES"].plot()
axes.set_xlabel("Years")

#### Lets try a transformation to the data

In [ ]:
logts = np.log(ts["#UNIDADES"])
axes = logts[logts > 0].plot()
axes.set_xlabel("Years")

#### After resampling to the sum of months

In [ ]:
month_ts = ts.resample('M').sum().sort_index()
axes = month_ts.plot()
axes.set_xlabel("Years")
axes.legend(labels=["Units", "Price Sum / 100"])

In [ ]:
log_month_ts = np.log(month_ts)
axes = log_month_ts.plot()
axes.set_xlabel("Years")
axes.legend(labels=["Units", "Price Sum / 100"])